.pokemonsContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemonContainer {
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    transition: transform 0.9s;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    padding: 20px;
    height: 280px;
    width: 550px;
}

.pokemonDetailsContainer {
    margin-right: 50px;
    text-align: left;
}

.pokemonImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.pokemonImageContainer img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.pokemonContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.pokemonImageContainer img {
    width: 200px;
    height: 300px;
}

.pokemonName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 768px) { 
    .pokemonContainer {
        flex-direction: column;
        align-items: center;
        height: 520px;
        width: 90%;
    }

    .pokemonDetailsContainer {
        margin-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .pokemonImageContainer {
        margin-left: 0;
        margin-top: -45px;
    }
}

.pokemonContainer:hover {
    background-color: #e0e0e0;
}

/*animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.pokemonContainer {
    animation: fadeIn 1s ease-in;
}

.pokemonImageContainer img {
    animation: fadeIn 2s ease-in;
} 

 .pokemonDetailsContainer p {
    animation: fadeIn 2s ease-in;
}
.pokemonsContainer {
    margin-top: 30px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 300px;
}
.searchButton {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.searchButton:hover {
    background-color: #45a049;
}
.searchInput:focus {
    outline: none;
    border-color: #4CAF50;
}
.searchButton:focus {
    outline: none;
}

.hidden {
    display: none;
}
    